
/* RTL Css */


.rtl {
	direction: rtl;
	text-align: right;
}

.rtl .owl-carousel {
	direction: ltr;
}

.rtl .main-menu .navigation>li>ul {
    left: auto;
    right: 0;
    text-align: right;
}

.rtl .main-menu .navigation>li>ul>li>ul {
    left: auto;
    right: 100%;
    text-align: right;
}

.rtl .main-menu .navigation>li>ul>li>a {
    text-align: right;
}

.rtl .main-menu .navigation>li>ul>li:after {
    right: auto;
    left: 0;
}

.rtl .main-menu .navigation>li>ul>li.dropdown>a:after {
    right: auto;
    left: 0;
}

.rtl .main-menu .navigation>li>ul>li>ul>li>a {
    text-align: right;
}

@media only screen and (max-width:1600px) {

    .rtl .main-menu .navigation>li:nth-last-child(-n+3)>ul>li>ul {
        right: auto;
        left: 100%;
    }
    .rtl .main-menu .navigation > li:nth-last-child(-n+2) > ul {
        right: auto;
        left: 0;
    }
    .rtl .main-menu .navigation > li:nth-last-child(-n+2) > ul > li > ul {
        right: auto;
        left: 100%;
    }   
}

.rtl .banner-section .banner-slider-nav {
    direction: ltr;
}

.rtl .news-widget .single-post {
    padding-left: 0;
    padding-right: 90px;
}

.rtl .news-widget .single-post .image {
    left: auto;
    right: 0;
}

.rtl .banner-section .swiper-slide:before {
    left: auto;
    right: 0;
}

.rtl .banner-section .grid-line {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.rtl .grid-line .line-one {
    background: rgba(255, 255, 255, 0.1);
}

.rtl .feature-block ul li:before {
    margin: 0 0 0 10px;
    position: relative;
    display: inline-block;
}

.rtl .feature-block ul li {
    position: relative;
}

.rtl .skills .skill-item .skill-bar .bar-inner .bar:before {
    right: auto;
    left: -1px;
}

.rtl .skills .skill-item .skill-bar .bar-inner .bar {
    left: auto;
    right: 0;
}

.rtl .skills .skill-item .skill-percentage {
    right: auto;
    left: 0;
}

.rtl .skills .skill-item .skill-bar .bar-inner .bar:before {
    right: auto;
    left: 0;
}

.rtl .skills-section .top-content {
    padding-left: 0;
    padding-right: 165px;
}

.rtl .skills-section .top-content .count {
    left: auto;
    right: 0;
}

.rtl .skills-section .video-btn a {
    margin-right: 0;
    margin-left: 30px;
}

@media (min-width: 992px) {
    .rtl .text-lg-end {
        text-align: left !important;
    }
}

.rtl .accordion-box .block .icon-outer {
    right: auto;
    left: 20px;
}

.rtl .accordion-box .block .content {
    padding-right: 23px;
}

.rtl .news-block .post-meta .category:before {
    right: 0;
    left: auto;
}

.rtl .news-block .post-meta .category {
    padding-left: 0;
    padding-right: 15px;
    margin-right: 10px;
}

.rtl .contact-widget ul li i {
    margin-right: 0;
    margin-left: 20px;
}

.rtl .cta-content .left-column {
    padding-left: 0;
    padding-right: 160px;
}

.rtl .cta-content .left-column .image {
    left: auto;
    right: 0;
}

.rtl .projects-section-two {
    direction: ltr;
}

.rtl .testimonial-block .author-info .author-wrapper {
    padding-left: 0;
    padding-right: 80px;
}

.rtl .testimonial-block .author-info .author-wrapper .thumb {
    left: auto;
    right: 0;
}

.rtl .footer-bottom .social-links li {
    margin-right: auto;
    margin-left: 10px;
}

.rtl .footer-bottom .social-links li:last-child {
    margin-left: 0;
}


@media only screen and (min-width:1550px) {
	.rtl .faq-section.style-two .image {
		margin-right: -42px;
		margin-left: -120px;
	}
}

@media only screen and (min-width: 992px) {
    .rtl .faq-section .accordion-box {
        margin-left: 20px;
        margin-right: 0;
    }
    .rtl .mission-section.style-two .mission-block:before {
        right: auto;
        left: 30px;
    }
}

.rtl .process-block .icon {
    left: auto;
    right: 40px;
}

.rtl .process-block .inner-box {
    padding-left: 30px;
    padding-right: 150px;
}

.rtl .service-block-three .icon {
    right: auto;
    left: 28px;
}

.rtl .links-widget.style-two ul li:before {
    right: auto;
    left: 0;
}

.rtl .post-pagination {
    direction: ltr;
    text-align: left;
}

.rtl .contact-form i {
    right: auto;
    left: 45px;
}

.rtl .team-details .info-block {
    padding-left: 0;
    padding-right: 260px;
}

.rtl .team-details .info-block .icon-box {
    left: auto;
    right: 0;
}

.rtl .team-details .author-info ul.social-links li {
    margin-right: 0;
    margin-left: 15px;
}

.rtl .timeline-section {
    direction: ltr;
    text-align: left;
}

.rtl .page-title .breadcrumb li {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .page-title .breadcrumb li:last-child {
    margin-left: 0;
}

.rtl .page-title .breadcrumb li:before {
    right: auto;
    left: -16px;
}

.rtl .timeline-block li .content {
    text-align: right;
}

.rtl .timeline-block li:nth-child(even) .content {
    text-align: right;
}

.rtl .faq__page ul.tab-btns li.tab-btn i {
    right: auto;
    left: 30px;
}

.rtl .portfolio-section {
    direction: ltr;
    text-align: left;
}

.rtl .portfolio-block li .content {
    text-align: right;
}

.rtl .portfolio-block li:nth-child(even) .content {
    text-align: right;
}

.rtl .sidebar-widget.about-me h3 {
    text-align: right;
}

.rtl .sidebar-title {
    padding-left: 0;
    padding-right: 20px;
}

.rtl .sidebar-title:before {
    right: 0;
    left: auto;
}

.rtl .sidebar .popular-posts .news-post .date span {
    padding-right: 0;
    margin: 0 0 0 5px;
}

.rtl .sidebar .popular-posts .news-post .post-thumb {
    left: auto;
    right: 0;
}

.rtl .sidebar .popular-posts .news-post {
    padding-left: 0;
    padding-right: 100px;
}

.rtl .sidebar .categories ul li .total-post {
    right: auto;
    left: 0;
}

.rtl .sidebar .popular-tags li {
    float: right;
}

.rtl .news-block-two .post-meta li {
    margin-right: 0;
    padding-right: 0;
    margin-left: 30px;
    padding-left: 30px;
}

.rtl .news-block-two .post-meta li:before {
    right: auto;
    left: 0;
}

.rtl .news-block-two .post-meta li a i {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .sidebar .search-box .form-group button {
    right: auto;
    left: 0;
}

.rtl .sidebar .search-box .form-group input[type="text"], 
.rtl .sidebar .search-box .form-group input[type="search"] {
    padding-left: 60px;
    padding-right: 30px;
}

.rtl .news-block-two .author-box {
    right: auto;
    left: 50px;
}

.rtl .news-block-two .author-box .thumb {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .news-block-three .quote {
    left: auto;
    right: 45px;
}




























